html,
body {
    width: 1600px;
    height: 4450px;
    margin: 0;
    padding: 0;
    background: #212227;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
    display: inline-block;
    width: inherit;
    height: 850px;
    background: #ffffff url('../img/footer-1.jpg') no-repeat;
    margin-bottom: -6px;
}

.header .slanted {
    visibility: hidden;
}

.header .logo {
    display: inline-block;
    position: absolute;
    top: 88px;
    left: 210px;
    width: 80px;
    height: 80px;
    background: #000000;
}

.header .logo p {
    padding-top: 5px;
    margin: 0;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
}

.header span {
    width: 550px;
    color: #000000;
}

.h1 {
    display: inline-block;
    position: absolute;
    top: 360px;
    left: 210px;
    font-size: 72px;
    font-weight: 300;
    // кернинг трекинг -25
    letter-spacing: -0.025em;
    // интерлиньяж
    line-height: normal;
}

.p {
    display: inline-block;
    position: absolute;
    top: 570px;
    left: 210px;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.025em;
    line-height: 45px;
}

.header .menu-button {
    display: inline-block;
    width: 31px;
    height: 43px;
    position: absolute;
    top: 107px;
    left: 1335px;
    text-align: center;
    line-height: 12px;
}

.header .menu-button span {
    display: inline-block;
    border-bottom: #000 solid 5px;
    width: 31px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
}

.header .menu-button span:last-child {
    border: none;
}


.about {
    // убираем пробел после inline-block
    margin-top: -5px;
}

.about .left-column {
    position: relative;
    display: inline-block;
    float: left;
    background: #f86c09 url('../img/left-column.jpg') no-repeat;
    width: 800px;
    height: 500px;
}

.about .right-column {
    position: relative;
    display: inline-block;
    float: right;
    background: #f3f1ef;
    width: 800px;
    height: 500px;
    margin: 0;
}

.about .right-column span {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #666;
    padding: 115px 0 0 55px;
    width: 540px;
}

.about .right-column span:last-child {
    display: inline-block;
    font-size: 36px;
    font-weight: 300;
    color: #666;
    padding-top: 47px;
}

// убираем выпадание после применения float
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.gallery {
    background: #3f729b;
    display: inline-block;
    position: relative;
    margin-bottom: -25px;
}

.gallery .thumbnail {
    float: left;
    width: 400px;
    height: 515px;
    background: #25a8ee;
}

.gallery .thumbnail-1 {
    background: url('../img/thumbnail-1.jpg') no-repeat;
}

.gallery .thumbnail-2 {
    background: url('../img/thumbnail-2.jpg') no-repeat;
}

.gallery .thumbnail-3 {
    background: url('../img/thumbnail-3.jpg') no-repeat;
}

.gallery .thumbnail-4 {
    background: url('../img/thumbnail-4.jpg') no-repeat;
}

.gallery .thumbnail-5 {
    background: url('../img/thumbnail-5.jpg') no-repeat;
}

.gallery .blank-space {
    background: #3f729b;    
}

.gallery .instagram-container {
    width: 590px;
    height: 375px;
    background: #3f729b;   
    padding: 140px 0 0 210px;
}

.gallery .instagram-container span {
    display: inline-block;
    width: 550px;
    height: 18px;
    font-size: 24px;
    font-weight: bold;
    color: #f9f9f9;   
    padding-bottom: 75px;
}

.gallery .instagram-container span:nth-child(2) {
    height: 115px;
    vertical-align: middle;
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 40px;
}

.music {
    display: inline-block;
    background: #000;
    height: 1415px;
}

// .gallery .instagram-container span:last-child {
//     width: 280px;
//     height: 55px;
//     font-size: 18px;
//     font-weight: bold;
//     border: 2px solid #f9f9f9;
//     border-radius: 25px;
//     padding: 0;
//     text-align: center;
//     vertical-align: middle;
// }

.gallery .instagram-container span a {
    display: inline-block;
    width: 280px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #f9f9f9;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    color:#f9f9f9;
    padding-top: 20px;
}



// body {
//     width: 280px;
//     min-height: 250px;
//     padding-top: 50px;
//     padding-left: 10px;
//     padding-right: 10px;
//     font-size: 12px;
//     font-family: "Arial", sans-serif;
//     line-height: 1.2;
//     color: #7f8c8d;
//     background: #ecf0f1;
// }

// .post-stats .icon {
//     width: 15px;
//     height: 15px;
//     display: inline-block;
//     vertical-align: middle;
    
// }

// .post-date {
//     /*display: inline-block;*/
//     float: left;
//     width: 35px;
//     height: 25px;
//     background: #ffffff;
//     font-size: 15px;
//     font-weight: bold;
//     /*text-align: center;*/
//     /*vertical-align: middle;*/
//     padding: 18px 11px 12px 9px;
//     border-bottom: 5px solid #bdc3c7;
//     margin: 0 20px 10px 0;
    
// }

// .post-title {
//     display: inline-block;
//     /*float: left;*/
//     color: #2980b9;
//     font-size: 20px;
//     padding-bottom: 5px;
// }



// .post-author {
//     display: inline-block;
//     /*float: right;   */
//     /*width: 100px;*/
//     margin-bottom: 4px;
//     /*vertical-align: top;  */
 
// }

// .post-stats {
//     display: inline-block;
//     margin-right: 10px;
//     /*vnizu kostyl*/
//     margin-bottom: 1px;
// }

// .post-author a, .post-stats a {
//      display: inline-block;
//      color: #2980b9;
//      text-decoration: none;  
//      vertical-align: middle;  
//      /*^^*/
        
// }

// .icon {
//     margin-right: 3px;   
// }
// .icon-tags {    
//     background: url('/assets/course14/post-challenge.png') no-repeat;
// }

// .icon-comments {
//     background: url('/assets/course14/post-challenge.png') no-repeat -20px 0;
// }

// .post-type {
//     display: inline-block;
//     clear: both;
//     float: left;   
//     background: #7f8c8d url('/assets/course14/quotes.png') no-repeat 50% 50%;
//         width: 35px;
//     height: 25px;
//     text-align: center;
//     vertical-align: middle;
//     padding: 15px 10px;
//     border-bottom: 5px solid #bdc3c7;
//     margin: 0 15px 10px 0;
// }

// .post-text {
//     display: inline-block;
//     /*float: right;*/
//     width: 170px;
//     background: #ffffff;
//     /*padding: 10px 15px;*/
//     padding: 10px 10px 10px 15px;
//     border-bottom: 5px solid #bdc3c7;
// }



// /*white    #ffffff*/
// /*dark-gray    #7f8c8d*/
// /*blue    #2980b9*/
// /*light-gray    #bdc3c7*/


// /*
// Все размеры, отступы, координаты, размеры шрифтов (не заданные в body) кратны 5 или 10.
// Ардеса картинок:
// /assets/course14/quotes.png
// /assets/course14/post-challenge.png
// Картинка "кавычки" выровнена по центру
// */